.container {
    width: 100%; /* Adjust the width as necessary */
    min-height: 500px;
    max-height: 68vh; /* Adjust the height as desired */
    border: none; /* Optional: adds a border around the chat container */
    overflow-y: auto; /* Enables vertical scrolling */
    margin-bottom: 10px; /* Space between chat container and input box */
    display: grid;
    justify-items: center;
  }


.textbox {
    width: 70vw;        /* Width of the chat box */
    border: 1.5px solid black; /* Border around the chat box */
    border-radius: 15px; /* Border around the chat box */
    overflow-x: auto;
    min-height: 50px;
    max-width: 900px;
    overflow-y: auto; /* Enables vertical scrolling */
    margin-bottom: 0px; /* Space between chat container and input box */
    display: flex;
    justify-items: flex-start;
    text-align: left;
    padding: 0rem 1rem;
    white-space: pre-wrap; /* Preserves whitespace and line breaks */
    word-wrap: break-word;
    font-size: 17px;
  }

.assistant-message .textbox {
  background-color: rgb(202, 238, 219);
  color: black;
}

.user-message .textbox {
  background-color: #F6F6F6;
  color: black;
}

.textinput {
  /* box-sizing: border-box; */
  width: 70vw;
  max-width: 900px;
  margin: auto;
  min-height: 50px;
  max-height: 100px;
  padding: 0.75rem 1rem;
  background-color: none;
  border: 1.5px solid black;
  border-radius: 15px;
  box-sizing: border-box;
  resize: none;
  font-family: sans-serif;
  font-size: medium;
  margin-right: 0.5rem;
  white-space: pre-wrap; /* Preserves whitespace and line breaks */
  word-wrap: break-word;
  overflow-y: hidden;
}

.input-box-container {
  position: fixed; /* Fixes the input box to the bottom */
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  padding: 1rem; /* Same horizontal padding as #root to align content */
  background: none; /* Match the background with your chat application background */
  display: flex;
  z-index: 1000;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  box-sizing: border-box;
}

.submit-button {
  width: 50px;
  height: 50px;
  background-color: #79AE93;
  border: none;
  border-radius: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #73c990; /* Slightly lighter or darker green on hover */
}

.submit-button img {
  max-width: 70%;
  max-height: 70%;
  width: auto;
  height: auto;
}


/* DARK MODE STYLING */
@media (prefers-color-scheme: dark) {
  .textbox,
  .textinput {
    border: 1px solid lightgrey; /* Lighter border color for dark mode */
  }

}  

